@model IEnumerable<Electo.DAL.Entities.Cart>
@{
    ViewData["Title"] = "Your Cart";
    Layout = null;
    decimal total = 0;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Electo</title>
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="~/TempStyle/css/bootstrap.min.css" />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="~/TempStyle/css/slick.css" />
    <link type="text/css" rel="stylesheet" href="~/TempStyle/css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="~/TempStyle/css/nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="~/TempStyle/css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="~/TempStyle/css/style.css" />
</head>
<body>
    <header>
        <!-- TOP HEADER -->
        <div id="top-header">
            <div class="container">
                <ul class="header-links pull-left">
                </ul>
                <ul class="header-links pull-right">
                    <partial name="_LoginPartial" />
                </ul>
            </div>
        </div>
        <!-- /TOP HEADER -->
        <!-- MAIN HEADER -->
        <div id="header">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- LOGO -->
                    <div class="col-md-3">
                        <div class="header-logo">
                            <a href="#" class="logo">
                                <img src="~/TempStyle/img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- /LOGO -->
            
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
        <!-- /MAIN HEADER -->
        <!-- NAVIGATION -->
        <nav id="navigation">
            <!-- container -->
            <div class="container">
                <!-- responsive-nav -->
                <div id="responsive-nav">
                    <!-- NAV -->
                    <ul class="main-nav nav navbar-nav">

                    </ul>
                    <!-- /NAV -->
                </div>
                <!-- /responsive-nav -->
            </div>
            <!-- /container -->
        </nav>
        <!-- /NAVIGATION -->
    </header>
 <div class="section">
    <!-- container -->
    <div class="container">
        <table class="table table-striped">
        <thead>
          <tr>
            <th>
               Name  
            </th>
            <th>
               Quantity  
            </th>
            <th>
               Price
            </th>
            <th>
               Delete
            </th>
          </tr>
         </thead>
        <tbody>
        @foreach (var item in Model) 
        {
            total+=(item.Quantity * item.Price);
            <tr>
            <td>
               <a asp-controller="Home" asp-action="PDetails" 
               asp-route-id="@item.Product.Id"> @Html.DisplayFor(modelItem => item.Product.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
               $ @Html.DisplayFor(modelItem => item.Price)
            </td>
          
            <td>
                <a class="btn btn-primary" asp-action="RemoveCart" asp-route-id="@item.Id">Delete</a>
            </td>
           </tr>
          }
          <tr>
              <td colspan="4" class ="text-right">
                  $ @total
              </td>
              <td>
                <a class="btn btn-primary" asp-controller="Home" 
                 asp-action="Index">Keep Shopping</a>
                <a class="btn btn-primary" asp-controller="Home" 
                 asp-action="CheckOut">Check Out</a>
              </td>
          </tr>
         </tbody>
        </table>
     </div>
</div>
</body>
</html>
